source https://www.nuget.org/api/v2

framework: >= net452
nuget FSharp.Core
nuget Huitian.EGIS.ShapeFileLib
nuget MonoGame.Framework.WindowsDX

group Build
	source https://www.nuget.org/api/v2

	nuget FAKE